

.container{
  display: flex;
  flex-direction: column;
  width: 480px;
  min-height: 400px;
  background: #ffffff;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  border: 1px solid rgb(206, 204, 204);
  box-shadow: 0px 25px 75px rgb(206, 204, 204);
  padding: 30px 60px 26px;
}


.title{
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
} 

.todo-input {
  padding: 14px 32px 14px 16px;
  margin-bottom: 25px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #61bdfa;
  outline: none;
  width: 320px;
  background: transparent;
}

.todo-input::placeholder {
  color: #c1c2c4;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #4566f8;
  color: #fff;
  text-transform: capitalize;
}

.list-items{
  
  margin-left:  25px;
  margin-bottom: 4px;
  padding: 10px ;
  border-radius: 4px;
  border: 1.5px solid #caac00;
  width: 406px;
  background: #fff6a4;
  
  list-style-type: none;

}

.input-item{
  background: #fff6a4;
  border: none; 
  padding-left: 0px;
}
.button-delete{
  float: right;
  border: none;
  background:transparent;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}
.input-checkbox{
  float: left;
  cursor: pointer;
}

