

.container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 420px;
  min-height: 400px;
  background: #ffffff;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  border: 1px solid rgb(206, 204, 204);
  box-shadow: 0px 25px 75px rgb(206, 204, 204);
  padding: 30px 60px 26px;
}


.title{
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
} 

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #61bdfa;
  outline: none;
  width: 320px;
  background: transparent;
}

.todo-input::placeholder {
  color: #0079ca;
}

.list-items{
  margin-left:  5px;
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #0079ca;
  outline: none;
  width: 320px;
  background: #61bdfa;
}